html {
  height: 100%;
}

body {
  height: 90%;
  font-family: monospace;
}

h1 {
  text-align: center;
}

div#input {
  margin-bottom: 3em;
}

div#frames {
  height: 90%;
}

div#frames > div.frame {
  float: left;
  height: 100%;
  width: 33%;
}

iframe {
  width:  95%;
  height: 85%;
  border: 3px solid #cccccc;
  padding: 5px;
  tab-size: 4;
}
